body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f4f6f8;
}

h1 {
  color: #b30000;
}

#map {
  height: 450px;
  width: 85%;
  margin: 20px auto;
  border-radius: 10px;
  border: 2px solid #ccc;
}
.legend {
  background: white;
  padding: 10px;
  border-radius: 6px;
  font-size: 14px;
}
.legend i {
  width: 14px;
  height: 14px;
  float: left;
  margin-right: 6px;
  opacity: 0.8;
}

#dashboard {
  width: 85%;
  margin: 15px auto;
  padding: 15px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  text-align: left;
}
#dashboard h2 {
  margin-top: 0;
  color: #b30000;
}
